<md-toolbar layout="row" layout-align="center center">

  <md-button href="http://www.health.go.ug/hmis2/">
      <img ng-src="assets/flags/uganda.png"></img>
  </md-button>

  <section flex layout="row" layout-align="center center">
    <md-button href="#" class="md-raised">Home</md-button>
    <md-button href="#" class="md-raised">Dashboard</md-button>
    <md-button href="#" class="md-raised">RCH & HMIS</md-button>
    <md-button href="#" class="md-raised">Programs</md-button>
    <md-button href="#" class="md-raised">Data Coverage</md-button>
    <md-button href="#" class="md-raised">Reports and Downloads</md-button>
    <md-button href="#" class="md-raised">Contact</md-button>
  </section>
</md-toolbar>
